@model IEnumerable<CMS.CMS.Common.ViewModels.RequestViewModel>
@{
    ViewBag.Title = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td align="center">
                    <section>
                        @Html.LabelForModel(request.RequestMessage, htmlAttributes: new { @class = "control-label", style = "margin-left: 10px; float: left;" })
                        @Html.ActionLink("Approve", "ApproveRequest", "Request", new { request.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Decline", "DeleteRequest", "Request", new { request.Id }, new { @class = "btn btn-danger" })
                    </section>
                </td>
            </tr>
        }
    </tbody>
</table>

