
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<div class="body-content" width="100vw" height="100vh">

    <h3>Change Deadline</h3>
    <select>
        <option value="TechSylvania">TechSylvania</option>
        <option value="CodeCamp">CodeCamp</option>
        <option value="DroidCon">DroidCon</option>
        <option value="TensorFlow">TensorFlow</option>
    </select>
</div>

@section Scripts{ 
    
    }