
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<div class="body-content" width="100vw" height="100vh">

    <h3>Change Deadline</h3>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</div>

@section Scripts{ 
    
    }